// Primary colors
$color-background: #181818;
$color-primary: #ffffff;
$color-secondary: #121212;
$color-third: #202020;
$color-fourth: #323232;
$color-fifth: #a4a4a4;
$color-accent: #8d090d;

$color-error: #ed4646;
$color-success: #7fbe61;

$color-input-focus: rgba($color-primary, 0.05);
$color-transparent: transparent;
